body {
	background: white url(http://i.imgur.com/QhIlo.jpg) no-repeat center;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
	transform: translate(300px, 0);
    	-webkit-transform: translate(300px, 0); 
    	-moz-transform: translate(300px, 0);

}

#centerMain { 
	transform: rotate(20deg) translate(0, 200px);
    	-webkit-transform: rotate(20deg) translate(0, 200px); 
    	-moz-transform: rotate(20deg) translate(0, 200px);
	background: linear-gradient(30deg, black, white);
	float: left;
	width: 750px;
	height: 400;
	border: 5px black solid;
}

#leftSidebar {
	transform: rotate(-15deg) skew(30deg, 30deg) translate(200px, 0);
    	-webkit-transform: rotate(-15deg) skew(30deg, 30deg) translate(200px, 0); 
    	-moz-transform: rotate(-15deg) skew(30deg, 30deg) translate(200px, 0);
	background: repeating-radial-gradient(at 50px 50px, green 20px, blue 40px);
	float: left;
	width: 250px;
	height: 500px;
	border: 5px white solid;
}

#leftSidebar2 {		
	transform: scale(3) rotate(3deg) skew(5deg, 5deg);
    	-webkit-transform: scale(3) rotate(3deg) skew(5deg, 5deg); 
    	-moz-transform: scale(3) rotate(3deg) skew(5deg, 5deg);
	background: repeating-radial-gradient(circle, black 20, white 40);
	position: relative;
	left: 0;
	top: 510px;
	border: 5px solid pink;
	width: 250px;
	height: 100px;
}



